@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.video-container {
  background-color: black;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   filter: brightness(1);
   height: 100%;
   z-index: -1;
 }

.header {
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 25px;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  /*#3d1e13*/
  /*#5b3726*/
  /*#774f39*/
  /*#916c4d*/
  /*#ad895f*/
  /*#c8a672*/
  /*#e4c386*/
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
