/*.question-form-wrapper {*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    border: darkred 4px solid;*/
/*    border-radius: 20px;*/
/*    width: 750px;*/
/*}*/
/*.question-form-wrapper {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.question-form-wrapper {
    /*!*position: relative;*!*/
    /*top: -100vh; !* это значение должно быть равно высоте .video-container, например -100% *!*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    /*z-index: 1;*/
    /*margin-top: 100px;*/
    position: relative;
    top: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50vh;
    z-index: 1;
    font-size: calc(10px + 1vmin);
}

/*@media screen and (min-width: 1200px) {*/
/*    .question-form-wrapper {*/
/*        font-size: 1vw;*/
/*    }*/
/*}*/

/*!* Для экранов с шириной меньше 600px *!*/
/*@media screen and (max-width: 600px) {*/
/*    .question-form-wrapper {*/
/*        font-size: 0.5vw;*/
/*    }*/
/*}*/

.question-form-wrapper.show {
    animation: slide-down 0.5s forwards;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/*.question-form-wrapper.show {*/
/*    transition: transform 0.5s ease-out;*/
/*    transform: translate(0, -150%);*/
/*}*/